<p>{{oggetto?.chiave}} </p>
<p>{{oggetto1?.chiave}} </p>

<div *ngFor="let pippo of lista">
    {{pippo}}
</div>
<!-- Da preferire l'interpolazione, a meno che non si ha dell'html nella string -->
<p>{{title}}</p>
<p [innerHTML]="title"></p>
<p>title</p>
<div>{{htmlString}}</div>
<div [innerHTML]="htmlString"></div>
<!-- qui sotto preferire le property -->
<div>
    <a href="https://google.it">Link</a>
</div>
<div>
    <a [href]="linkUrl">Link</a>
</div>
<div>
    <a href="{{linkUrl}}">Link</a>
</div>
<p>{{titoloInput | lowercase}}</p>
<p>{{myDate}}</p>
<p>{{myDate | date:'longDate' | uppercase}}</p>
